{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}
<br>
<a href="{{ path('search') }}" class="btn btn-info">Rechercher une voiture </a><br>
<section class="voiture">
{% for voiture in voitures %}
<voiture>
    <br>
    <h3>{{ voiture.Marque }} {{ voiture.Modele }} {{ voiture.AnneeDeMiseEnCirculation }} </h3>
    <div class="metadata">Ajouté le {{ voiture.MiseEnVente | date('d/m/Y') }}</div>
    <div class="content">
        <img src="{{ voiture.image }}" WIDTH=300 alt=""><br>
        {{ voiture.Kilometrage }} km<br>
        <h4>{{ voiture.PrixDemande }} &#8364</h4>
        <a href="{{ path('car_more', {'id': voiture.id}) }}" class="btn btn-success">Plus d'info</a><br>
    </div> 
    <br> 
</voiture>  
</section>
{% endfor %} 
{% endblock %}
